.bg-beige-1 {
    background-color: #E4DED5;
}

#unique-text-1 {
    color: #EE467E;
}

#unique-text-2 {
    color: #4490CD;
}

h1 {
   font-weight: 900 !important; 
}

.font-900 {
    font-weight: 900 !important;
}

.bg-pink {
    background-color: #EE467E;
}

.bg-blue {
    background-color: #4490CD;
}

.btn-holder {
    margin: 20px 0;
}

.btn-blue {
    background-color: #4490CD;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    border: 3px solid #EE467E;
    border-radius: 20px;
}

.section-bg {
    background-image: url('/assets/img/bg-2.jpg');
    background-color: #000;
    opacity: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
}